.sidebar {
    background-color: rgba(0, 0, 0, 0.784);
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #e4d8d8;
}
  
.sidebar-links {
    list-style: none;
    padding: 0;
}
  
.sidebar-links li {
    display: block;
    padding: 10px;
    color: #e4d8d8;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    align-items: flex-end;
}
  
.sidebar-links li:hover {
    background-color: #dedbdb;
    color: #131311;
}
.sidebar-brand{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    text-align: end;
    text-decoration: none;
}
.arrs{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 10px; */
    margin-inline: auto;
    width: 100%;
}
.arrs{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 10px; */
    margin-inline: auto;
    width: 100%;
}