.second {
    color: #ffffff;
    width: min(100% - 9vw,1110px);
    margin-inline: auto;
    padding-top: 50px;
  }
  
  .pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pro h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .seelink {
    font-size: 16px;
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .seelink:hover {
    text-decoration: underline;
  }
  
  
  .prods{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 50px;
  }
  
  /* Product Info Styles */
  .product-info {
    border: 3px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    background-color: rgb(14, 14, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .product-info:hover {
    transform: scale(1.05);
  }
  .for-product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }